In [1]:
import numpy as np
import pandas
from sklearn.linear_model import LinearRegression
from pandas.plotting import scatter_matrix

In [2]:
url = "data/test_data.csv"

In [3]:
dataset = pandas.read_csv(url, header=0)

In [4]:
dataset

    X   Y
0   5   5
1  15  20
2  25  14
3  35  32
4  45  22
5  55  38

In [5]:
X = dataset['X'].to_numpy()

In [6]:
Y = dataset['Y'].to_numpy()

In [7]:
model = LinearRegression().fit(X.reshape((-1, 1)),Y)

In [8]:
A_input = int(input("Enter the value of x"))
A = np.array([A_input]).reshape((-1, 1))
B = model.predict(A) #model.intercept_ + model.coef_ * A
print('Predicted Value is ',B)

Enter the value of x 12

Predicted Value is  [12.11333333]

In [9]:
input_dataset = pandas.DataFrame({'X': A_input, 'Y': B})

In [10]:
input_dataset

    X          Y
0  12  12.113333

In [11]:
input_dataset.to_csv(url, mode='a', header=False, index=False)